.form {
    @apply mt-12 flex flex-col items-start gap-12;

    button {
        @apply mt-8 text-xl font-medium;
    }
}

.form-input-container {
    @apply flex w-full flex-col;

    input,
    textarea {
        @apply border-b border-zinc-900 bg-transparent;
    }
}
