.hero {
    height: 100dvh;

    @apply flex flex-col justify-between;
}

.hero .h1 {
    @apply mb-12 md:mt-16;
}

.hero .h4 {
    @apply pr-12;
}

.hero .content {
    @apply flex flex-col gap-4;
}

.hero .freelance {
    @apply p-0 uppercase;
}
