.navbar {
    @apply fixed right-0 top-0 z-10 flex items-center justify-between bg-white mix-blend-difference backdrop-blur-md;

    ul {
        @apply hidden gap-4 md:flex md:items-center;

        li {
            @apply font-semibold;
        }
    }

    button {
        @apply ml-auto block font-semibold md:hidden;
    }
}
