/* Section */
.section {
    @apply relative py-12;

    .text-container {
        @apply flex flex-col gap-6;
    }

    .title {
        @apply mb-8 text-5xl font-medium tracking-tight;
    }

    .subtitle {
        @apply mb-8 text-3xl font-medium;
    }

    p {
        @apply text-lg;
    }
}
