/* Section */
.section {
    @apply relative py-12;
}

.section .text-container {
    @apply flex flex-col gap-6;
}

.section .title {
    @apply mb-8 text-5xl font-medium tracking-tight;
}

.section p {
    @apply text-lg;
}
