/* Section */
.section {
    @apply relative py-12;

    @screen md {
        @apply py-24;
    }

    @screen lg {
        @apply py-32;
    }

    @screen xl {
        @apply py-40;
    }

    .text-container {
        @apply flex flex-col gap-6;
    }

    .h2 {
        @apply mb-8;
    }

    .h6 {
        @apply mb-4;
    }
}
