.job-block {
    .title-and-date {
        @apply mb-2 flex flex-col gap-2;

        @screen sm {
            @apply mb-4;
        }
    }

    .position {
        @apply mb-4 font-bold;
    }

    .main-projects {
        @apply mt-8;

        ul {
            @apply ml-8 list-disc;

            li {
                @apply mb-2 pl-2 text-base;
            }
        }
    }
}
