.work {
    @apply border-t-2 border-black py-12;

    &:last-child {
        @apply border-b-2;
    }

    @screen md {
        @apply py-20;
    }

    h3 {
        @apply mb-8;
    }

    .content {
        @apply self-center;
    }

    &:nth-child(even) {
        .content {
            grid-column: 2/3;
        }

        picture {
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }
}
