.work {
    @apply border-t-2 border-black py-12;

    &:last-child {
        @apply border-b-2;
    }

    @screen md {
        @apply py-20;
    }

    h3 {
        @apply mb-8;
    }

    .content {
        @apply self-center;
    }

    /* &:nth-child(even) {
        .content {
            grid-column: 2/3;
        }

        .details {
            grid-column: 1/2;
            grid-row: 1/2;
        }
    } */

    .details {
        @apply mt-12 flex flex-col flex-wrap;

        @screen md {
            @apply mt-0 flex-row gap-x-12 gap-y-6;
        }

        .label {
            @apply mb-4 flex-[1_1_100%];

            @screen md {
                @apply mb-0;
            }

            p {
                @apply inline-block bg-black px-4 py-2 text-sm uppercase text-zinc-100;

                @screen md {
                    @apply text-base;
                }
            }
        }

        h4 {
            @apply mb-2 font-bold;
        }

        ul {
            @apply flex flex-col gap-1;
        }
    }

    a {
        text-decoration: underline 0.25rem rgba(0, 0, 0, 0);
        transition: text-decoration-color 300ms;
    }

    a:hover {
        text-decoration-color: rgba(0, 0, 0, 1);
    }
}
